<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzWidth="200px" nzBreakpoint="md">
    <div class="sidebar-logo">
      <h1>问卷调查后台管理系统</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        nz-menu-item
        routerLink="survey"
        routerLinkActive="ant-menu-item-selected"
      >
        <span>问卷信息管理</span>
      </li>
      <li
        nz-menu-item
        routerLink="survey-classify"
        routerLinkActive="ant-menu-item-selected"
      >
        <span>问卷分类管理</span>
      </li>
      <li
        nz-menu-item
        routerLink="survey-template"
        routerLinkActive="ant-menu-item-selected"
      >
        <span>问卷模板管理</span>
      </li>
      <li
        nz-menu-item
        routerLink="member"
        routerLinkActive="ant-menu-item-selected"
      >
        <span>成员管理</span>
      </li>
      <li
        *ngIf="currentUserService?.data.accout === 'admin'"
        nz-menu-item
        routerLink="sys-setting"
        routerLinkActive="ant-menu-item-selected"
      >
        <span>系统设置</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="user">
          <button nz-button nzType="link" nz-dropdown [nzDropdownMenu]="menu">
            {{ currentUserService?.data?.accout }}
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="memberService.logout()">退出</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
