<div>
  <div nz-row>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="4" nzRequired>账号：</nz-form-label>
      <nz-form-control nzSpan="20">
        <input nz-input type="text" [(ngModel)]="account" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row>
    <nz-form-item nzFlex>
      <nz-form-label nzSpan="4" nzRequired>密码：</nz-form-label>
      <nz-form-control nzSpan="20">
        <input nz-input type="password" [(ngModel)]="password" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row>
    <button
      nz-button
      nzType="primary"
      [disabled]="!account || !password"
      (click)="submit()"
    >
      注册
    </button>
  </div>
</div>
