<form nz-form [formGroup]="queryForm" (ngSubmit)="query$.next({ page: 1 })">
  <div nz-row nzGutter="0">
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="creator_name" nzSpan="6">创建人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="creator_name" placeholder="创建人" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="classify_name" nzSpan="6">分类名</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="classify_name"
            placeholder="分类名"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="create_time" nzSpan="6">创建时间</nz-form-label>
        <nz-form-control
          ><nz-range-picker formControlName="create_time"></nz-range-picker
        ></nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="title" nzSpan="6">标题</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="title" placeholder="标题" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="status" nzSpan="6">状态</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status" nzPlaceHolder="状态" nzAllowClear>
            <nz-option
              *ngFor="let option of surveyService.statusOptions"
              [nzLabel]="option.label"
              [nzValue]="option.value"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <nz-form-item>
        <nz-form-label nzFor="submit_time" nzSpan="6">可提交时间</nz-form-label>
        <nz-form-control
          ><nz-range-picker formControlName="submit_time"></nz-range-picker
        ></nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col="8">
      <button nz-button nzType="primary">搜索</button>
      &nbsp;
      <button nz-button (click)="surveyService.goTemplate()">创建</button>
    </div>
  </div>
</form>
<nz-table
  [nzData]="data"
  [nzLoading]="loading"
  [nzLoadingDelay]="300"
  [nzFrontPagination]="false"
  nzTableLayout="fixed"
  ><thead>
    <tr>
      <th>标题</th>
      <th>分类名</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>可提交开始时间</th>
      <th>可提交结束时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.title }}</td>
      <td>{{ row.classify_name }}</td>
      <td>{{ row.creator_name }}</td>
      <td>{{ row.creat_at | date: "yyyy-MM-dd HH:mm:ss" }}</td>
      <td>{{ row.submit_at | date: "yyyy-MM-dd HH:mm:ss" }}</td>
      <td>{{ row.submit_end | date: "yyyy-MM-dd HH:mm:ss" }}</td>
      <td>{{ row.status_name }}</td>
      <td>
        <button nz-button nzSize="small">删除</button>&nbsp;
        <button
          nz-button
          nzSize="small"
          (click)="surveyService.goTemplate(row.id)"
        >
          编辑</button
        >&nbsp;
        <button
          nz-button
          nzType="primary"
          nzSize="small"
          (click)="surveyService.outGiving(row.id)"
        >
          分发
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination
  [nzPageIndex]="page.current"
  [nzPageSize]="page.size"
  [nzTotal]="page.items"
  (nzPageIndexChange)="query$.next({ page: $event })"
></nz-pagination>
