<form nz-form [formGroup]="queryForm" (ngSubmit)="query$.next({ page: 1 })">
  <div nz-row nzGutter="0">
    <nz-form-item nz-col="8">
      <nz-form-label nzFor="title" nzSpan="6"> 标题</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="title" placeholder="标题" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col="8">
      <nz-form-label nzFor="classify_name" nzSpan="6">分类名</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="classify_name" placeholder="分类名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col="8">
      <nz-form-label nzFor="submit_at" nzSpan="6">提交时间</nz-form-label>
      <nz-form-control
        ><nz-range-picker formControlName="submit_at"></nz-range-picker
      ></nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col="8">
      <button nz-button nzType="primary">搜索</button>
      &nbsp;
    </nz-form-item>
  </div>
</form>
<nz-table
  [nzData]="data"
  [nzLoading]="loading"
  [nzLoadingDelay]="300"
  [nzFrontPagination]="false"
  nzTableLayout="fixed"
  ><thead>
    <tr>
      <th>模板标题</th>
      <th>分类</th>
      <th>提交时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; index as i">
      <td>{{ row.templateTitile }}</td>
      <td>{{ row.classify_name }}</td>
      <td>{{ row.submit_at | date: "yyyy-MM-dd HH:mm:ss" }}</td>
      <td>
        <button nz-button nzSize="small" (click)="remove(i)">删除</button
        >&nbsp;<button nz-button nzSize="small">查看</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination
  [nzPageIndex]="page.current"
  [nzPageSize]="page.size"
  [nzTotal]="page.items"
  (nzPageIndexChange)="query$.next({ page: $event })"
></nz-pagination>

<ng-template #viewAnswerTpl>
  <div nz-row>
    <div nz-col="4">模板标题</div>
    <div nz-col="20"></div>
  </div>
</ng-template>
