<div nz-row>
  <nz-form-item nz-col nzSpan="12">
    <nz-form-label nzFor="password" nzSpan="4" nzRequired>密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入正确的密码">
      <nz-input-group>
        <input
          type="password"
          nz-input
          [(ngModel)]="password"
          placeholder="请输入密码"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</div>
<div nz-row>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    (click)="submit()"
  >
    确定
  </button>
</div>
